[submodule "regression-tests"]
	path = regression-tests
	url = https://github.com/mozilla/marian-regression-tests
	branch = master
[submodule "examples"]
	path = examples
	url = https://github.com/mozilla/marian-examples
[submodule "src/3rd_party/sentencepiece"]
	path = src/3rd_party/sentencepiece
	url = https://github.com/mozilla/sentencepiece
[submodule "src/3rd_party/nccl"]
	path = src/3rd_party/nccl
	url = https://github.com/mozilla/nccl.git
[submodule "src/3rd_party/fbgemm"]
	path = src/3rd_party/fbgemm
	url = https://github.com/mozilla/FBGEMM
[submodule "training"]
	path = training
	url = https://github.com/mozilla/marian-training.git
